doctype html
html(lang="en")
  head
    title Kontak Manager
  body
    h1 Kontak
    div.formContact
      form(action="/contact" method="post")
        label First Name: 
        input(type="text" name="firstName")
        label Last Name: 
        input(type="text", name="lastName")
        label email: 
        input(type="email", name="email")

        input(type="submit", value="Save")

    div.listContacts
      ul
        each val in contacts
          li
            p= "Name: " + val.first_name +" " + val.last_name
            p= "Email: " + val.email
            form(action="/contact" method="POST")
              input(type="hidden" name="_method" value="DELETE" readonly)
              input(type="hidden" id="contactId" name="contactId" value=val.kontak_id readonly)
              input(type="submit" value="Delete")

