doctype html
html(lang="en")
  head
    title Kontak Manager
  body
    h1 Kontak
    div.formContact
      form(action="/contact" method="post")
        label First Name: 
        input(type="text" name="firstName")
        label Last Name: 
        input(type="text", name="lastName")
        label email: 
        input(type="email", name="email")

        input(type="submit", value="Save")

    div.listContacts
      ul
        each val in contacts
          li
            p= "Name: " + val.first_name +" " + val.last_name
            p= "Email: " + val.email
